body{
	background-color: blue;
}
.box{
	text-align: center;
	background-color: blue;
}
.box img{
	width: 200px;
	height: 100px;
	margin-top: 10px;
	border-radius: 10px;
}
.box h1{
	font-size: 50px;
	color: yellow;
	margin: auto;
}
.box h4{
	font-size: 25px;
	color: yellow;
	margin-top: 10px;
}
.box .box1 img{
	width: 900px;
	height: 500px;
}
.box p{
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
    color: white;
}